body {
  /* background-color: #34404e; */
  background-color: #2d3142;
}

.App {
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

.pad {
  margin: auto;
  width: 90%;
  max-width: 500px;
  justify-content: center;
  padding-top: 50px;
}

.synth-button {
  cursor: pointer;
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  /* background-color:#F7F6EE; */
  background-color: #fcfcfc;
  border: none;
  border-radius: 4px;
  /* padding: 30px 50px; */
  /* margin: 10px; */
  box-shadow: 0 4px #999;
  font-family: 'Bungee', cursive;
  text-decoration: none;
  outline: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  height: 60px;
  width: 80px;

  text-align: center;
  padding: 0px;

}

.pressed {
  background-color: #8FDCF1;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}

/* .drum-button:hover {
  background-color: #3E8E41;
} */

/* .drum-button:active {
  background-color: #8FDCF1;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
} */

.playback-buttons {
  margin-top: 100px;
  margin: auto;
  max-width: 500px;
  justify-content: center;
  padding-top: 50px;
  width: 90%;
  z-index: 2;
}

.canvas-container {
  position: fixed;
  bottom: 40px;
  width:  90%;
  margin: auto;
  left: 50%;
  transform: translate(-50%, 0%);
}

.octave-container {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

.octave-radio-button {
  padding: 7px !important;
}

.octave-radio-button-checked {
  padding: 7px !important;
}

.octave-radio-button span {
  color: #fcfcfc;
}

/* .octave-radio-button:active span {
  color: #8FDCF1;
} */

.octave-radio-button-checked span {
  color: #8FDCF1;
}


.mlbutton {
  font-size: 20px;
}

.blink_text > * {

  animation:1s blinker linear infinite;
  -webkit-animation:1s blinker linear infinite;
  -moz-animation:1s blinker linear infinite;

   color: red;
  }

  @-moz-keyframes blinker {  
   0% { opacity: 1.0; }
   50% { opacity: 0.0; }
   100% { opacity: 1.0; }
   }

  @-webkit-keyframes blinker {  
   0% { opacity: 1.0; }
   50% { opacity: 0.0; }
   100% { opacity: 1.0; }
   }

  @keyframes blinker {  
   0% { opacity: 1.0; }
   50% { opacity: 0.0; }
   100% { opacity: 1.0; }
   }